
@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');

 
 
*  body{
    box-sizing: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: "Julee", sans-serif;
    background-color: #C86363;
  }
 
:root{
  --primary:#C86363;
  --secondary: #C95B5B;
  --black: #000;
  --white: #fff;
}

header img{
  left: 670px;
  padding: 0.9rem;
}

main{
  min-height: calc(100vh- 8.5rem);
}


main.index{
  display: flex;
  align-items: center;
  justify-content: center;
}



h1{
  background-color: #C86363;
  color: var(--black);
  font-size: 128px;
  text-align: center;
}

p{
  background-color: #C95B5B;
  color: var(--white);
  font-size: 48px;
  text-align: center;
}
